.dashboardContainer {
  display: flex;
  flex-direction: column; 
}

.header {
  height: 60px; 
}

.content {
  flex: 1;
  margin-left: 150px; 
  padding: 20px;
  padding-top: 90px; 
  background-color: #f4f4f4; 
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  /* width: calc(100% - 250px);  */
}

.leftCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60.66%; 
}

.rightCard {
  width: 37.33%; 
}

.card {
  background-color: #2a2a3c;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  width: calc(50% - 10px); 
}

.card h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

.card p {
  margin: 0;
  font-size: 24px;
}

.dashboard {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  margin-right: 20px;
}

.column:last-child {
  margin-right: 0;
}

.graphContainer {
  background-color: #2a2a3c;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.goalsContainer {
  background-color: #2a2a3c;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.graph {
  height: 200px; 
}

.goals {
  display: flex;
  flex-direction: column;
}

.goal {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #383850;
}
