.goalsContainer {
  background-color: #1e1e2d; 
  border-radius: 10px; 
  padding: 20px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  color: #ffffff; 
}

.goal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #2d2d3a; 
  border-radius: 8px;
}

.goalIcon {
  width: 24px;
  height: 24px;
}

.goalName {
  flex-grow: 1;
  margin-left: 10px;
  font-size: 16px;
}

.goalArrow {
  color: #ffffff; 
  font-size: 16px;
}
