.sidebar {
  width: 150px; 
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #1e1e2d;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.sidebar h2 {
  color: #fff;
  margin-bottom: 20px;
}

.navLinks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navLinks li {
  margin-bottom: 20px;
}

.navLinks a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navLinks a svg {
  font-size: 24px;
}
