.cardContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.leftCards {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.rightCard {
  width: 20%;
}

.card {
  background-color: #2a2a3c;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.card h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

.card p {
  margin: 0;
  font-size: 24px;
}
